body {
	position: absolute ;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	overflow: hidden ;
}

.home_table {
	position: absolute;
	left:  0;
	top:  0;
	width: 100%;
	bottom: 0;
}

#control_tabs {
	position: absolute ;
	left: 20px;
	right: 20px;
	top: 100px;
	bottom: 20px;
	border: 1px #aaa solid ;
}

#control_tabs .root {
	overflow: auto ;
	position: absolute ;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 0;
}

#control_tabs .segments {
	z-index: 99;
}

#control_tabs .root h1 {
  margin: 25px;
  margin-bottom: 10px;
  margin-top: 50px;
}

#control_tabs .root p {
  margin-left: 25px;
  margin-right: 25px;
}

/* @end */


.sc-split-view {
    position: absolute;
	left:  0;
	top:  0;
    width: 100%;
	bottom: 0;
}

.workspace .sidebar {
	position: absolute;
	left:  0;
	top:  0;
	width: 200px;
	bottom: 0;
}

.workspace .sidebar .master_list {
	position: absolute;
	left:  0;
	top:  0;
	right: 0;
	bottom: 0;
}

.workspace .sc-split-divider-view {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
}

.workspace .detail_view {
	position: absolute;	
	left: 205px;
	right: 0;
	top: 100px;
	bottom: 0;
	border: none ;
	background-color: #aaa;
}

.workspace .detail_view .card-detail {
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  position: relative;
  border: 4px #888 solid;
  background: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.workspace .detail_view .card-detail td {
  padding: 0 10px;
}

.workspace .detail_view .card-detail .buttons {
  text-align: right;
  padding-top: 10px;
}

.workspace .detail_view .card-detail input {
  font-size: 14px;
  width: 300px;
}

.detail_view_orgs {
    position: relative;
}


