/* Start ----------------------------------------------------- body.css*/

/* Default CSS for welcome page.  Delete this styling and replace it with your own. */

body {
	position: absolute ;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	overflow: hidden ;
}

.organizationList {
    position: absolute;

}

/* @end */



/* End ------------------------------------------------------- body.css*/

