/* Start ----------------------------------------------------- body.css*/

/* Default CSS for welcome page.  Delete this styling and replace it with your own. */


#organizationList {
    position: absolute;

}

#scroll_view {
    position: absolute;

}

#organization_list {
    position: absolute;

}

/* @end */



/* End ------------------------------------------------------- body.css*/

